{%extends 'app.html'%}
{%block part1%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<nav style="--bs-breadcrumb-divider: '>'; margin: 10px" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Books</li>
  </ol>
</nav>
{%for b in page_obj%}
<div class="card" style="display: inline-block ;width: 18rem;">
<div class="card card-block">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="../static/admins/images/{{ b.book_img }}" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
  <div class="card-body">
    <h5 class="card-title">{{ b.book_name }}</h5>
          <p class="card-title">By {{ b.book_author }}</p>
      <p class="card-text-center" style="font-size:12px">Should return at: {{ b.return_date }}</p>
                     <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                                    {% if user.is_authenticated %}
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{b.pk}}" name="book_pk">
                                            <button type="submit" class="btn btn-outline-primary" style="font-size:18px;">Borrow</button>
                                        </form>
                                    {% else %}
                                        <a  href="{% url 'sign_up' %}" class="btn btn-primary" style="font-size:18px;">Borrow</a>
                                    {% endif %}
                                    <div  class="card-link" style="margin-top: -40px ; margin-left: 90px;" >
                                          <a href="{% url 'bookDetails' b.id %}" class="btn btn-primary">Details</a>
                             </div>
                            </div>
                         </div>
                    </div>
                </div>
    {%endfor%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
{%endblock%}