{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'dist/css/users.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:10px ">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
           <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
              </li>
                    <li class="nav-item">
        <a href="{% url 'index'%}" class="nav-link">Home</a>
      </li>
              <li class="nav-item">
        <a href="{% url 'home'%}" class="nav-link">Website</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'book_create'  %}" class="nav-link">Add Books</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'users' %}" class="nav-link">Users</a>
      </li>
              <li class="nav-item">
        <a href="{% url 'changePass' %}" class="nav-link">Change Password</a>
      </li>
            <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">logout</a>
      </li>
      {%endif%}
    </ul>
    <div style="margin-left: 30px">
    <form method="GET" action="{% url 'search_results' %}" >
    <input type="text" placeholder="Search..." name="q">
</form>
    </div>
  </div>
</nav>

{%for u in users%}
{% if user.is_authenticated %}
<div class="container mt-3 mb-4" style="display: inline-block">
<div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>User Name</th>
                <th class="action text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0"><a href="#">{{ u.username }}</a></h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li><i class="fas flatpages-flatpage"></i>{{ u.id }}</li>
                          <li><i class="fas fa-filter pr-1"></i>{{ u.first_name }} {{ u.last_name }}</li>
                          <li><i class="fas fa-map-marker-alt pr-1"></i>{{ u.email }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <ul class="list-unstyled mb-0 d-flex justify-content-end">
                    <li><a href="{%url 'view_user'%}" class="text-primary" data-toggle="tooltip" title="" data-original-title="view"><i class="far fa-eye"></i></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%}
{%endfor%}
</div>
</body>
</html>