{%extends 'app.html'%}
{%block part1%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<h1>My Profile</h1>

{%for user in dashboardPage%}
<div class="card" style="width: 18rem; display: inline-block">
  <img src="../static/students/images/pr1.jpg" class="card-img-top" alt="user">
  <div class="card-body">
    <h5 class="card-title">Name: {{user.name}}</h5>
      <h5 class="card-title">Email: {{user.Email}}</h5>
      <h5 class="card-title">City: {{user.city}}</h5>
    <a href="#" class="btn btn-primary">edit Profile</a>
  </div>
</div>
{%endfor%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
{%endblock%}